@model List<Story>
@{
    ViewData["Title"] = "ViewStories";
}

@{
    //Layout = null;
}

<html>
<body>
    <div class="text-center">
        <h1 class="display-4">View Stories</h1>
    </div>
    <div>
        List of Stories:<br />
        @foreach (Story story in Model)
        {
            @story.Title; <br />
            @story.StoryTeller.Name; <br />
            @story.StoryText; <br />
            <br />
            @if (story.Comments.Count > 0)
            {
                <h4>Comments</h4>
                @foreach (Comment c in story.Comments)
                {
                    @c.CommentText <br />
                }
                <br />
            }
            <div class="col-md-4">
                <br>
                <a class="btn btn-primary" asp-action="AddComment" asp-route-title="@story.Title">Add a Comment</a>
            </div>
        }
        <br>
        <a href="AddStory">Add a Story</a><br />
        <a href="/Home">Home</a>
    </div>
</body>
</html>

