@model List<Story>
@{
    ViewData["Title"] = "ViewStories";
}

@{
    //Layout = null;
}

<html>
<body>
    <div class="text-center">
        <h1 class="display-4">Fan Stories</h1>
    </div>
    <div>
        <br />
        @foreach (Story story in Model)
        {
            @story.Title; <br />
            @story.StoryTeller.Name; <br />
            @story.StoryText; <br />
            <br />
            @if (story.Comments.Count > 0)
            {
                <h4>Comments</h4>
                @foreach (Comment c in story.Comments)
                {
                    @c.CommentText <br />
                }
                <br />
            }
            <div class="col-md-4">
                <a class="btn btn-primary" asp-action="AddComment" asp-route-title="@story.Title">Add a Comment</a>
            </div><br />            
            <div class="col-md-4">
                <a class="btn btn-primary" asp-controller="Story" asp-action="AddStory">Add Your Story</a>
            </div>
        }
        <br>
    </div>
</body>
</html>

